@import "tailwindcss";



  :root {
    --bg-color: #1d1e21;
    --text-color: #f8fafc;
    --interfaceColor: #333;
    --buttonSelected: #ff9500;
    --buttonHover: #fdbc61;
    --textPrimary: #ff9500;
    --pressedButton: #000;

    --inputColor: #1a1a1a;
    --borderColor: #ffffff55;

    

  }


@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #dfdfdf;
    --text-color: #0f172a;
    --interfaceColor: #fff;
    --buttonSelected: #ff9500;
    --buttonHover: #ffb650;
    --textPrimary: #ff9500;
    --pressedButton: #808080;


    --inputColor: #cbcbcb;
    --borderColor: #1d1d1d55;

  }
}

body {
    background-color: var(--bg-color);
   background-image: url('/src/assets/background/dotted-bg.svg');
   background-repeat: repeat;
  color: var(--text-color);
}


@media print {
  body {
    margin: 0;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  body * {
    visibility: hidden;
  }
  #qr-sheet,
  #qr-sheet * {
    visibility: visible;
  }
  #qr-sheet {
    position: fixed;
    inset: 0;
    margin: auto;
    box-shadow: none !important;
    transform: none !important;
  }
}



    @layer utilities {
      /* Hide scrollbar for Chrome, Safari, and Opera */
      .no-scrollbar::-webkit-scrollbar {
        display: none;
      }

      /* Hide scrollbar for IE, Edge, and Firefox */
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }

       /* Scrollbar personalizado */
  .custom-scrollbar::-webkit-scrollbar {
    width: 30px; /* ancho de la barra */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent; /* sin fondo */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #ef0b0b; /* color del scroll */
    border-radius: 8px; /* bordes redondeados */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #04ff3a; /* color al pasar el mouse */
  }

  /* Firefox */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #88888800 transparent;
  }

    }